*.bak
*.net
R1000.kicad_sym
sym-lib-table
TYP-backups
TYP.kicad_prl
VAL-backups
VAL.kicad_prl
IOC-backups
IOC.kicad_prl
SEQ-backups
SEQ.kicad_prl
FIU-backups
FIU.kicad_prl
RESHA-backups
RESHA.kicad_prl

